@model CharityData.Models.User

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserAccount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserAccount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dateOfBirth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dateOfBirth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.creditCardId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.creditCardId)
        </dd>
    </dl>
    <div class="form-group">
        <label class="control-label">Image</label>
        <div>
            <img src="@ViewData["ImageURL"]" height="400">
        </div>

    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<div>
    <h2>History of donated items</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Item name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Value
                </th>
                <th>
                    Action name
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                var donatedItems = ViewBag.items;
                var actDoneted = ViewBag.actDoneted;
                for (int i = 0; i < donatedItems.Count; i++)
                {
                    <tr>
                        <td>
                            @donatedItems[i].name
                        </td>
                        <td>
                            @donatedItems[i].description
                        </td>
                        <td>
                            @donatedItems[i].value
                        </td>
                        <td>
                            @actDoneted[i].name
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div>
<h2>History of payments</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Name of organization
            </th>
            <th>
                Donated amout
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            var payments = ViewBag.payments;
            var organizations = ViewBag.organizations;
            for (int i = 0; i < payments.Count; i++)
            {
                <tr>
                    <td>
                        @organizations[i].name
                    </td>
                    <td>
                        @payments[i].amount
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
</div>
    <div>
        <h2>History of actions participated in</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Action name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Organization name
                    </th>
                    <th>
                        Start date and time
                    </th>
                    <th>
                        End date and time
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    var myAction = ViewBag.myActions;
                    var organizedBy = ViewBag.organizedBy;
                    for (int i = 0; i < myAction.Count; i++)
                    {
                        <tr>
                            <td>
                                @myAction[i].name
                            </td>
                            <td>
                                @myAction[i].description
                            </td>
                            <td>
                                @organizedBy[i].name
                            </td>
                            <td>
                                @myAction[i].startDateTime
                            </td>
                            <td>
                                @actDoneted[i].endDateTime
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <input class="btn btn-default" type="button" value="Add item" onclick="@("window.location.href='" + @Url.Action("Create", "Items") + "'");" />
