@model IEnumerable<CharityData.Models.User>


    <h2>Users</h2>
<input asp-action="Create" type="button" class="btn btn-default" value="Create new" />
<table class="table">
    <thead>
        <tr>
            <!--
    <th>
        @Html.DisplayNameFor(model => model.UserAccount)
    </th>
        -->
            <th>
                @Html.DisplayNameFor(model => model.firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateOfBirth)
            </th>
            <!--
    <th>
        @Html.DisplayNameFor(model => model.creditCardId)
    </th>
        -->
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <!--
    <td>
        @Html.DisplayFor(modelItem => item.UserAccount)
    </td>
    -->
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateOfBirth)
            </td>
    <td>
        @Html.DisplayFor(modelItem => item.creditCardId)
    </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
        </tr>
        }
    </tbody>
</table>
